.App {
  text-align: center;
  font-family: sans-serif;
}
.search-input
{
  margin: 0px;
  width: 500px;
  height: 20px;
  border-radius: 15px;
  padding-left:30px;
}
.container{
  position:relative;
    padding:0;
    margin:0;
}
.products-container
{

width: 500px;
margin: auto;
border:1px solid black;
padding: 5px;
text-align: left;
max-height: 500px;
overflow-y: scroll;

}
.icon
{
  position:absolute;
bottom:5px;
top: 3px;
    left:410px;
    width:20px;
    height:20px;

}
.google{
  height: 100px;
  width: 300px;
  padding-top: 25px;
}
.righticoncamera
{
  position:absolute;
bottom:5px;
top: 3px;
    left: 900px;
    width:20px;
    height:20px;

}
.righticonspeaker
{
  position:absolute;
bottom:5px;
top: 3px;
    left: 870px;
    width:20px;
    height:20px;

}
.product
{
  display: block;
  padding: 5px;
}
.product:hover
{
  background-color: beige;
}
