.App {
  text-align: center;
  font-family: sans-serif;
}
.search-input
{
  margin: 5px;
  width: 500px;
}
.products-container
{

width: 500px;
margin: auto;
border:1px solid black;
padding: 5px;
text-align: left;
max-height: 500px;
overflow-y: scroll;

}
.product
{
  display: block;
  padding: 5px;
}
.product:hover
{
  background-color: beige;
}
